<div class="recipe-list-container">
  <h1>Recipes</h1>
  <div class="search-bar-container">
    <input
      [(ngModel)]="textSearch"
      type="text"
      placeholder="Search Recipes"
      class="search-bar"
    />
    <label>
      Maximum Calories desired:
      <input
        type="number"
        placeholder="maximum calories"
        [(ngModel)]="maxCal"
      />
    </label>
    <label>
      Vegan
      <input
        type="checkbox"
        name="dietary-restrictions"
        value="vegan"
        [(ngModel)]="vegan"
      />
    </label>
    <label>
      Dairy Free
      <input
        type="checkbox"
        name="dietary-restrictions"
        value="dairy-free"
        [(ngModel)]="dairyFree"
      />
    </label>
    <button (click)="onSearch()">
      Search
    </button>
  </div>

  <div class="recipes-container">
    <li>
      <h2 class="recipe-list">Recipe List</h2>

      <ul *ngFor="let item of recipes; let i = index">
        <li>
          <button>
            <i (click)="favorite(item)" class="fas fa-fire" id="favButton"></i>
          </button>
          <button (click)="toggleClass()">more info</button>
          <h3>{{ item.recipe.label }}</h3>
          {{ item.recipe.url }}
          <!-- <div><a href="{{ item.recipe.url }}"> Click to see original source</a></div> -->
        </li>
      </ul>
    </li>
    <br />
  </div>
</div>
