.search-bar-container {
    display: flex;
    justify-content: center;
}

.heart-button {
    transform: translateY(10px);
    border: none;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

li {
    list-style-type: circle;
}

.button-container {
    padding: 0 .5vw;
}

h2 {
    font-size: small;
}

.hide-details {
    display: none;
}

.show-details {
    display: block;
    overflow-wrap: break-word;
}
