@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

li, a, p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: dimgray;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 2px solid dimgray;
  box-shadow: 10px 10px 8px #888888;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.logo {
  cursor: pointer;
}

.links {
  list-style: none;
}

.links li {
  display: inline;
  padding:  0px 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: orangered;
}

p {
  font-style: italic;
}

img {
  width: 200px;
  height: 100px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.recipes-container {
  border: 1px solid #7c7c7c;
  width: 75%;
  font-family: 'Roboto', sans-serif;
}

.button-container {
  padding: 0 .5vw;
}

h2 {
  font-size: small;
}

.hide-details {
  display: none;
}

.show-details {
  display: block;
  overflow-wrap: break-word;
}

button {
  border: none;
}

.fas {
  font-size: 30px;
  cursor: pointer;
  color: #f3e300;
  user-select: none;
}

.fav {
  font-size: 40px;
  cursor: pointer;
  color: orangered;
  user-select: none;
}

.fas:hover {
  color: orange;
}
