<div class="recipe-list-container">
  <h1>Recipes</h1>
  <div class="search-bar-container">
    <input type="text" placeholder="Search Recipes" class="search-bar">
  </div>
  <br>
  <div class="recipes-container">Recipe name + fav button on the side
    <div class="recipe-list-container">
      <div class="recipe-list-item">
        <li>
          <label id='recipe-label'> {{ data.hits[0].recipe.label }}</label>
          <img>
          <button class="heart-button">
            <div class="heart"></div>
          </button>
          <button (click)="toggleClass()">more info</button>
          <p [className]="activeClass" id="recipe-details" *ngFor="let ingredient of data.hits[0].recipe.ingredientLines">
            {{ ingredient }}
          </p>
          <br>
          <a href="https://developer.edamam.com/edamam-recipe-api-demo" class="sampleLink">Edamam Website</a>
        </li>
      </div>
    </div>
    
    
    <br>
  </div>
</div>
