<div class="recipe-list-container">
  <h1>Recipes</h1>
  <div class="search-bar-container">
    <input
      [(ngModel)]="userSearch"
      type="text"
      placeholder="Search Recipes"
      class="search-bar"/>
    <button (click)="onSearch()">
      Search
    </button>
  </div>

    <div class="recipes-container">
      <ul>
        <li *ngFor="let recipe of data.hits">
          <button class="favButton">
            <i
              (click)="favoriteFunction(recipe)"
              class="fas fa-fire"
              id="favButton">
            </i>
          </button>
          {{ recipe.recipe.label }}
          <button (click)="toggleClass()">more info</button>
          <p
            [className]="activeClass"
            id="recipe-details"
            *ngFor="let ingredient of data.hits[0].recipe.ingredientLines">
            {{ ingredient }}
          </p>
          <a href="" class="sampleLink">sample link</a>
        </li>
      </ul>
    </div>
</div>
