@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

​* {
  font-family: 'Bebas Neue', cursive !important;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  list-style: none;
  font-family: 'Bebas Neue', cursive !important;

}
