<div class="search-bar-container">
  <label>
  <input [(ngModel)]="textSearch" type="text" placeholder="Search Recipes" class="search-bar">
  </label>
  <label>
    Minimum Calories:
    <input type="number" placeholder="minimum calories" [(ngModel)]="minCal">
  </label>
  <label>
    Maximum Calories:
    <input type="number" placeholder="maximum calories" [(ngModel)]="maxCal">
  </label>
  <label>
    Vegan
    <input type="checkbox" name="dietary-restrictions" value="vegan" [(ngModel)]="vegan">
  </label>
  <label>
    Dairy Free
    <input type="checkbox" name="dietary-restrictions" value="dairy-free" [(ngModel)]="dairyFree">
  </label>

  <button (click)="onSearch()">
    Search
  </button>
</div>

